@import "_vars";
@import "_global";
@import "_fonts";

// start header

.header {
  margin-bottom: 32px;
}

.header__top {
  height: 44px;
  background-color: $blue;
}

.header__bottom {
  height: 44px;
  background: #f7f7f7;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

// end header

// start content left and right (aside)

.content {
  display: flex;
  justify-content: space-between;
}

.content__left {
  width: 100%;
}

.promo__aside {
  max-width: 160px;
  margin-left: 20px;
}

.promo__aside-item {
  width: 160px;
  height: 320px;
  background: #fafafa;
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: $grey;
  padding: 130px 38px 160px;
}

// start breadcrumbs

.breadcrumbs {
  margin-bottom: 16px;
}

.breadcrumbs__list-item {
  display: inline-block;
  padding-right: 11px;
  margin-right: 2px;
  position: relative;
  font-size: 12px;
  line-height: 16px;
  color: #666666;
  span {
    color: $title;
  }
  &::after {
    content: "/";
    position: absolute;
    right: 0;
  }
  &:last-child::after {
    display: none;
  }
}

// end breadcrumbs
// start searh section

.search {
  margin-bottom: 32px;
}

.search__form {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  border: 2px solid $blue;
  border-radius: 3px;
}

.search__form-input {
  height: 40px;
  width: 100%;
  padding: 10px 12px;
  border: none;
  outline: none;
  &::placeholder {
    color: $grey;
  }
}

.search__form-button {
  width: 64px;
  height: 40px;
  padding: 11px 23px;
  background: #005fae;
  border: none;
  outline: none;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    transition: all 0.3s;
  }
  &:active {
    opacity: 1;
  }
}

// end searh section
// start company name section

.company__name {
  margin-bottom: 32px;
}

.catalog__link {
  margin-bottom: 16px;
  color: $blue;
  padding-left: 20px;
  margin-left: 5px;
  position: relative;
  &::before {
    content: url(../images/arrow-link.svg);
    position: absolute;
    left: 0;
  }
}

.company__name-title {
  margin-bottom: 8px;
  padding-left: 30px;
  margin-left: 2px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: $title;
  position: relative;
  &::before {
    content: url(../images/check-company.svg);
    position: absolute;
    left: 0;
  }
}

.company__name-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company__name-box__item {
  span,
  a {
    margin-right: 22px;
  }
}

.company__views {
  padding-left: 23px;
  position: relative;
  color: $grey;
  &::before {
    content: url(../images/views.svg);
    position: absolute;
    left: 0;
  }
}

.company__feedback {
  padding-left: 24px;
  position: relative;
  &::before {
    content: url(../images/feedback.svg);
    position: absolute;
    left: 0;
  }
}

.company__stats {
  padding-left: 22px;
  position: relative;
  &::before {
    content: url(../images/stats.svg);
    position: absolute;
    left: 0;
    bottom: -2px;
  }
}

.company__edit {
  padding-left: 22px;
  position: relative;
  &::before {
    content: url(../images/edit.svg);
    position: absolute;
    left: 0;
    bottom: -2px;
  }
}

.company__workers {
  &.status--request-sent {
    // сделать меняется текст на "Отменить запрос в сотрудники"
  }
  &.status--worker {
    color: #fff;
    background: $green;
    // сделать меняется текст на "Я работаю в этой компании"
    // сделать некликабельной
  }
}

// end company name section
// start company content section

.company__content {
  display: flex;
  justify-content: space-between;
}

.company__inner {
  margin-right: 20px;
  width: 100%;
}

.last__notice-title {
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  color: $title;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e0e0e0;
}

.last__notice-list {
  margin-bottom: 48px;
  font-size: 12px;
  line-height: 16px;
}

.notice__list-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid #e0e0e0;
  &.notice__list-itemtitle {
    background: #f0f0f0;
    border-radius: 3px;
    border: none;
    color: $text;
    .notice__list-text {
      color: $text;
    }
    .notice__list-btn {
      background-color: transparent;
    }
  }
}

.notice__list-btn {
  width: 60px;
  height: 24px;
  margin-right: 16px;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  background: #6199c6;
  border-radius: 3px;
  padding: 4px;
  text-align: center;
  a {
    color: #fff;
  }
  &.notice__list-btn__red {
    background: #ee6c4d;
  }
}

.notice__list-text {
  width: 286px;
  color: $blue;
  margin-right: 16px;
}

.notice__list-time {
  width: 40px;
  margin-right: 16px;
  text-align: right;
}

.notice__list-views {
  width: 44px;
  margin-right: 16px;
  text-align: right;
}

.notice__list-author {
  display: flex;
  align-items: center;
  width: 224px;
  img {
    width: 30px;
    height: 40px;
    border-radius: 3px;
    margin-right: 8px;
  }
}

.notice__list-author__name {
  color: $blue;
}

.notice__list-author__company {
  color: $grey;
}

.company__content-products__title {
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  color: $title;
  padding-bottom: 8px;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 16px;
}

.company__content-products__photo{
    background: $green;
    height: 100px;
}

.company__info {
  max-width: 360px;
}

.company__logo {
  margin-bottom: 16px;
}

.company__text {
  background: #f0f0f0;
  border-radius: 3px;
  padding: 16px;
  span {
    font-weight: 700;
  }
}

.company__text-item + .company__text-item {
  margin-top: 8px;
}

// end company content section

//
// end content left and right (aside)

@import "_media";
